<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>T</key>
		<integer>-106</integer>
		<key>U</key>
		<integer>-48</integer>
		<key>V</key>
		<integer>-108</integer>
		<key>W</key>
		<integer>-47</integer>
		<key>Y</key>
		<integer>-128</integer>
		<key>backslash</key>
		<integer>-14</integer>
		<key>f</key>
		<integer>-5</integer>
		<key>g</key>
		<integer>-5</integer>
		<key>quotedbl</key>
		<integer>-10</integer>
		<key>t</key>
		<integer>-1</integer>
		<key>v</key>
		<integer>-55</integer>
		<key>w</key>
		<integer>-12</integer>
		<key>y</key>
		<integer>-86</integer>
	</dict>
	<key>B</key>
	<dict>
		<key>AE</key>
		<integer>-4</integer>
		<key>W</key>
		<integer>22</integer>
		<key>Y</key>
		<integer>-5</integer>
		<key>x</key>
		<integer>-4</integer>
		<key>y</key>
		<integer>-6</integer>
	</dict>
	<key>C</key>
	<dict>
		<key>AE</key>
		<integer>-4</integer>
		<key>Y</key>
		<integer>17</integer>
		<key>y</key>
		<integer>-5</integer>
	</dict>
	<key>D</key>
	<dict>
		<key>A</key>
		<integer>-21</integer>
		<key>AE</key>
		<integer>-6</integer>
		<key>T</key>
		<integer>-4</integer>
		<key>V</key>
		<integer>-21</integer>
		<key>X</key>
		<integer>-6</integer>
		<key>Y</key>
		<integer>-42</integer>
		<key>hyphen</key>
		<integer>43</integer>
		<key>x</key>
		<integer>-5</integer>
		<key>y</key>
		<integer>-6</integer>
		<key>z</key>
		<integer>-4</integer>
	</dict>
	<key>E</key>
	<dict>
		<key>g</key>
		<integer>-4</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>A</key>
		<integer>-92</integer>
		<key>AE</key>
		<integer>-28</integer>
		<key>J</key>
		<integer>-4</integer>
		<key>S</key>
		<integer>-21</integer>
		<key>T</key>
		<integer>66</integer>
		<key>a</key>
		<integer>-1</integer>
		<key>hyphen</key>
		<integer>-65</integer>
		<key>i</key>
		<integer>-21</integer>
		<key>r</key>
		<integer>-21</integer>
		<key>s</key>
		<integer>-4</integer>
		<key>slash</key>
		<integer>-20</integer>
		<key>z</key>
		<integer>-4</integer>
	</dict>
	<key>G</key>
	<dict>
		<key>T</key>
		<integer>-5</integer>
		<key>Y</key>
		<integer>-6</integer>
		<key>hyphen</key>
		<integer>22</integer>
	</dict>
	<key>J</key>
	<dict>
		<key>A</key>
		<integer>-21</integer>
		<key>AE</key>
		<integer>-5</integer>
		<key>x</key>
		<integer>-4</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>A</key>
		<integer>66</integer>
		<key>C</key>
		<integer>-51</integer>
		<key>J</key>
		<integer>-7</integer>
		<key>O</key>
		<integer>-42</integer>
		<key>S</key>
		<integer>-8</integer>
		<key>T</key>
		<integer>22</integer>
		<key>U</key>
		<integer>-21</integer>
		<key>W</key>
		<integer>33</integer>
		<key>a</key>
		<integer>-2</integer>
		<key>c</key>
		<integer>-11</integer>
		<key>d</key>
		<integer>-2</integer>
		<key>g</key>
		<integer>-14</integer>
		<key>hyphen</key>
		<integer>-42</integer>
		<key>s</key>
		<integer>-7</integer>
		<key>y</key>
		<integer>-65</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>A</key>
		<integer>22</integer>
		<key>AE</key>
		<integer>5</integer>
		<key>O</key>
		<integer>-21</integer>
		<key>T</key>
		<integer>-171</integer>
		<key>U</key>
		<integer>-59</integer>
		<key>V</key>
		<integer>-169</integer>
		<key>W</key>
		<integer>-102</integer>
		<key>Y</key>
		<integer>-219</integer>
		<key>backslash</key>
		<integer>-33</integer>
		<key>c</key>
		<integer>-4</integer>
		<key>f</key>
		<integer>-5</integer>
		<key>g</key>
		<integer>-12</integer>
		<key>hyphen</key>
		<integer>-31</integer>
		<key>quotedbl</key>
		<integer>-31</integer>
		<key>t</key>
		<integer>-1</integer>
		<key>v</key>
		<integer>-32</integer>
		<key>w</key>
		<integer>-27</integer>
		<key>y</key>
		<integer>-109</integer>
	</dict>
	<key>O</key>
	<dict>
		<key>V</key>
		<integer>-32</integer>
		<key>X</key>
		<integer>-42</integer>
		<key>Y</key>
		<integer>-21</integer>
		<key>hyphen</key>
		<integer>22</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>A</key>
		<integer>-114</integer>
		<key>AE</key>
		<integer>-32</integer>
		<key>J</key>
		<integer>-17</integer>
		<key>W</key>
		<integer>22</integer>
		<key>X</key>
		<integer>-9</integer>
		<key>Z</key>
		<integer>-6</integer>
		<key>slash</key>
		<integer>-21</integer>
		<key>x</key>
		<integer>-6</integer>
		<key>z</key>
		<integer>-4</integer>
	</dict>
	<key>R</key>
	<dict>
		<key>A</key>
		<integer>22</integer>
		<key>W</key>
		<integer>22</integer>
		<key>hyphen</key>
		<integer>22</integer>
	</dict>
	<key>S</key>
	<dict>
		<key>Y</key>
		<integer>-4</integer>
		<key>y</key>
		<integer>-5</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>A</key>
		<integer>-106</integer>
		<key>AE</key>
		<integer>-33</integer>
		<key>C</key>
		<integer>-5</integer>
		<key>J</key>
		<integer>-41</integer>
		<key>T</key>
		<integer>66</integer>
		<key>a</key>
		<integer>-2</integer>
		<key>c</key>
		<integer>-35</integer>
		<key>d</key>
		<integer>-2</integer>
		<key>g</key>
		<integer>-7</integer>
		<key>hyphen</key>
		<integer>-60</integer>
		<key>i</key>
		<integer>-21</integer>
		<key>r</key>
		<integer>-21</integer>
		<key>s</key>
		<integer>-27</integer>
		<key>slash</key>
		<integer>-22</integer>
		<key>v</key>
		<integer>6</integer>
		<key>y</key>
		<integer>5</integer>
	</dict>
	<key>U</key>
	<dict>
		<key>A</key>
		<integer>-32</integer>
		<key>AE</key>
		<integer>-5</integer>
		<key>J</key>
		<integer>-42</integer>
		<key>x</key>
		<integer>-4</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>A</key>
		<integer>-109</integer>
		<key>AE</key>
		<integer>-21</integer>
		<key>J</key>
		<integer>-14</integer>
		<key>O</key>
		<integer>-32</integer>
		<key>a</key>
		<integer>-1</integer>
		<key>c</key>
		<integer>-5</integer>
		<key>d</key>
		<integer>-1</integer>
		<key>g</key>
		<integer>-4</integer>
		<key>hyphen</key>
		<integer>-86</integer>
		<key>i</key>
		<integer>-48</integer>
		<key>seven</key>
		<integer>7</integer>
		<key>slash</key>
		<integer>-16</integer>
		<key>v</key>
		<integer>6</integer>
		<key>y</key>
		<integer>5</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>A</key>
		<integer>-46</integer>
		<key>AE</key>
		<integer>-17</integer>
		<key>J</key>
		<integer>-10</integer>
		<key>a</key>
		<integer>-1</integer>
		<key>c</key>
		<integer>-5</integer>
		<key>d</key>
		<integer>-1</integer>
		<key>g</key>
		<integer>-4</integer>
		<key>hyphen</key>
		<integer>-92</integer>
		<key>i</key>
		<integer>-26</integer>
		<key>r</key>
		<integer>-26</integer>
		<key>seven</key>
		<integer>5</integer>
		<key>slash</key>
		<integer>-14</integer>
		<key>v</key>
		<integer>5</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>A</key>
		<integer>43</integer>
		<key>C</key>
		<integer>-26</integer>
		<key>O</key>
		<integer>-21</integer>
		<key>T</key>
		<integer>22</integer>
		<key>c</key>
		<integer>-7</integer>
		<key>d</key>
		<integer>-1</integer>
		<key>g</key>
		<integer>-10</integer>
		<key>hyphen</key>
		<integer>-65</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>A</key>
		<integer>-129</integer>
		<key>AE</key>
		<integer>-35</integer>
		<key>C</key>
		<integer>-48</integer>
		<key>J</key>
		<integer>-47</integer>
		<key>O</key>
		<integer>-42</integer>
		<key>a</key>
		<integer>-3</integer>
		<key>bracketright</key>
		<integer>5</integer>
		<key>c</key>
		<integer>-15</integer>
		<key>d</key>
		<integer>-3</integer>
		<key>g</key>
		<integer>-9</integer>
		<key>hyphen</key>
		<integer>-125</integer>
		<key>i</key>
		<integer>-65</integer>
		<key>quotedbl</key>
		<integer>13</integer>
		<key>s</key>
		<integer>-7</integer>
		<key>seven</key>
		<integer>16</integer>
		<key>slash</key>
		<integer>-24</integer>
		<key>v</key>
		<integer>11</integer>
		<key>w</key>
		<integer>8</integer>
		<key>y</key>
		<integer>-11</integer>
	</dict>
	<key>Z</key>
	<dict>
		<key>c</key>
		<integer>-6</integer>
		<key>d</key>
		<integer>-1</integer>
		<key>g</key>
		<integer>-6</integer>
		<key>hyphen</key>
		<integer>-24</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>T</key>
		<integer>-4</integer>
		<key>V</key>
		<integer>-2</integer>
		<key>W</key>
		<integer>-2</integer>
		<key>Y</key>
		<integer>-5</integer>
		<key>backslash</key>
		<integer>-3</integer>
		<key>seven</key>
		<integer>-3</integer>
		<key>v</key>
		<integer>-1</integer>
		<key>w</key>
		<integer>-1</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>T</key>
		<integer>-2</integer>
		<key>V</key>
		<integer>-1</integer>
		<key>W</key>
		<integer>-1</integer>
		<key>X</key>
		<integer>-2</integer>
		<key>Y</key>
		<integer>-3</integer>
		<key>x</key>
		<integer>-1</integer>
		<key>y</key>
		<integer>-2</integer>
	</dict>
	<key>backslash</key>
	<dict>
		<key>T</key>
		<integer>-21</integer>
		<key>V</key>
		<integer>-16</integer>
		<key>W</key>
		<integer>-14</integer>
		<key>Y</key>
		<integer>-25</integer>
		<key>quotedbl</key>
		<integer>-18</integer>
		<key>v</key>
		<integer>-17</integer>
		<key>w</key>
		<integer>-15</integer>
	</dict>
	<key>bracketleft</key>
	<dict>
		<key>Y</key>
		<integer>6</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>T</key>
		<integer>-2</integer>
		<key>X</key>
		<integer>-2</integer>
		<key>Y</key>
		<integer>-2</integer>
		<key>x</key>
		<integer>-1</integer>
		<key>y</key>
		<integer>-2</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>T</key>
		<integer>-2</integer>
		<key>V</key>
		<integer>-1</integer>
		<key>X</key>
		<integer>-2</integer>
		<key>Y</key>
		<integer>-3</integer>
		<key>seven</key>
		<integer>-3</integer>
		<key>x</key>
		<integer>-1</integer>
		<key>y</key>
		<integer>-2</integer>
	</dict>
	<key>equal</key>
	<dict>
		<key>seven</key>
		<integer>-12</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>A</key>
		<integer>-5</integer>
		<key>J</key>
		<integer>-5</integer>
		<key>Y</key>
		<integer>6</integer>
		<key>c</key>
		<integer>-2</integer>
		<key>x</key>
		<integer>-2</integer>
	</dict>
	<key>fraction</key>
	<dict>
		<key>fraction</key>
		<integer>-37</integer>
		<key>seven</key>
		<integer>26</integer>
	</dict>
	<key>h</key>
	<dict>
		<key>T</key>
		<integer>-2</integer>
		<key>V</key>
		<integer>-2</integer>
		<key>W</key>
		<integer>-1</integer>
		<key>Y</key>
		<integer>-3</integer>
		<key>v</key>
		<integer>-1</integer>
	</dict>
	<key>hyphen</key>
	<dict>
		<key>T</key>
		<integer>-60</integer>
		<key>V</key>
		<integer>-86</integer>
		<key>W</key>
		<integer>-86</integer>
		<key>X</key>
		<integer>-42</integer>
		<key>Y</key>
		<integer>-102</integer>
		<key>Z</key>
		<integer>-7</integer>
		<key>quotedbl</key>
		<integer>-36</integer>
		<key>seven</key>
		<integer>-10</integer>
		<key>z</key>
		<integer>-10</integer>
	</dict>
	<key>k</key>
	<dict>
		<key>C</key>
		<integer>-10</integer>
		<key>J</key>
		<integer>-10</integer>
		<key>S</key>
		<integer>-10</integer>
		<key>a</key>
		<integer>-2</integer>
		<key>bracketright</key>
		<integer>9</integer>
		<key>c</key>
		<integer>-10</integer>
		<key>d</key>
		<integer>-2</integer>
		<key>g</key>
		<integer>-12</integer>
		<key>s</key>
		<integer>-12</integer>
		<key>slash</key>
		<integer>10</integer>
		<key>w</key>
		<integer>43</integer>
		<key>y</key>
		<integer>33</integer>
	</dict>
	<key>l</key>
	<dict>
		<key>v</key>
		<integer>-86</integer>
		<key>w</key>
		<integer>-21</integer>
		<key>y</key>
		<integer>-109</integer>
	</dict>
	<key>minus</key>
	<dict>
		<key>seven</key>
		<integer>-10</integer>
	</dict>
	<key>o</key>
	<dict>
		<key>T</key>
		<integer>-4</integer>
		<key>V</key>
		<integer>-2</integer>
		<key>W</key>
		<integer>-1</integer>
		<key>X</key>
		<integer>-2</integer>
		<key>Y</key>
		<integer>-4</integer>
		<key>Z</key>
		<integer>-1</integer>
		<key>seven</key>
		<integer>-4</integer>
		<key>v</key>
		<integer>-1</integer>
		<key>w</key>
		<integer>-1</integer>
		<key>x</key>
		<integer>-2</integer>
		<key>y</key>
		<integer>-2</integer>
		<key>z</key>
		<integer>-1</integer>
	</dict>
	<key>plus</key>
	<dict>
		<key>seven</key>
		<integer>-12</integer>
	</dict>
	<key>quotedbl</key>
	<dict>
		<key>A</key>
		<integer>-9</integer>
		<key>AE</key>
		<integer>-16</integer>
		<key>J</key>
		<integer>-46</integer>
		<key>Y</key>
		<integer>11</integer>
		<key>hyphen</key>
		<integer>-33</integer>
		<key>slash</key>
		<integer>-17</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>A</key>
		<integer>-11</integer>
		<key>J</key>
		<integer>-36</integer>
		<key>X</key>
		<integer>-9</integer>
		<key>Z</key>
		<integer>-6</integer>
		<key>hyphen</key>
		<integer>-12</integer>
		<key>slash</key>
		<integer>-20</integer>
		<key>w</key>
		<integer>22</integer>
		<key>x</key>
		<integer>-5</integer>
		<key>z</key>
		<integer>-4</integer>
	</dict>
	<key>s</key>
	<dict>
		<key>T</key>
		<integer>-5</integer>
		<key>V</key>
		<integer>-4</integer>
		<key>X</key>
		<integer>-4</integer>
		<key>Y</key>
		<integer>-9</integer>
		<key>x</key>
		<integer>-2</integer>
		<key>y</key>
		<integer>-5</integer>
	</dict>
	<key>seven</key>
	<dict>
		<key>A</key>
		<integer>-15</integer>
		<key>J</key>
		<integer>-35</integer>
		<key>T</key>
		<integer>6</integer>
		<key>V</key>
		<integer>12</integer>
		<key>W</key>
		<integer>9</integer>
		<key>Y</key>
		<integer>20</integer>
		<key>c</key>
		<integer>-9</integer>
		<key>fraction</key>
		<integer>-38</integer>
		<key>hyphen</key>
		<integer>-16</integer>
		<key>minus</key>
		<integer>-17</integer>
		<key>plus</key>
		<integer>-20</integer>
		<key>seven</key>
		<integer>5</integer>
		<key>slash</key>
		<integer>-32</integer>
		<key>v</key>
		<integer>12</integer>
		<key>w</key>
		<integer>11</integer>
		<key>y</key>
		<integer>13</integer>
	</dict>
	<key>slash</key>
	<dict>
		<key>A</key>
		<integer>-14</integer>
		<key>AE</key>
		<integer>-24</integer>
		<key>J</key>
		<integer>-22</integer>
		<key>c</key>
		<integer>-9</integer>
		<key>slash</key>
		<integer>-128</integer>
	</dict>
	<key>t</key>
	<dict>
		<key>c</key>
		<integer>-1</integer>
		<key>g</key>
		<integer>-1</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>A</key>
		<integer>-12</integer>
		<key>J</key>
		<integer>-16</integer>
		<key>T</key>
		<integer>6</integer>
		<key>V</key>
		<integer>6</integer>
		<key>W</key>
		<integer>4</integer>
		<key>Y</key>
		<integer>11</integer>
		<key>a</key>
		<integer>-1</integer>
		<key>c</key>
		<integer>-4</integer>
		<key>d</key>
		<integer>-1</integer>
		<key>seven</key>
		<integer>10</integer>
		<key>slash</key>
		<integer>-17</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>A</key>
		<integer>-12</integer>
		<key>J</key>
		<integer>-12</integer>
		<key>Y</key>
		<integer>9</integer>
		<key>a</key>
		<integer>-1</integer>
		<key>c</key>
		<integer>-3</integer>
		<key>seven</key>
		<integer>6</integer>
		<key>slash</key>
		<integer>-15</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>C</key>
		<integer>-6</integer>
		<key>J</key>
		<integer>-4</integer>
		<key>U</key>
		<integer>-4</integer>
		<key>c</key>
		<integer>-6</integer>
		<key>d</key>
		<integer>-1</integer>
		<key>f</key>
		<integer>-2</integer>
		<key>g</key>
		<integer>-8</integer>
		<key>s</key>
		<integer>-2</integer>
		<key>t</key>
		<integer>-1</integer>
		<key>u</key>
		<integer>-1</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>A</key>
		<integer>-14</integer>
		<key>J</key>
		<integer>-20</integer>
		<key>T</key>
		<integer>10</integer>
		<key>V</key>
		<integer>9</integer>
		<key>W</key>
		<integer>6</integer>
		<key>Y</key>
		<integer>15</integer>
		<key>a</key>
		<integer>-1</integer>
		<key>c</key>
		<integer>-4</integer>
		<key>d</key>
		<integer>-1</integer>
		<key>g</key>
		<integer>-2</integer>
		<key>hyphen</key>
		<integer>-9</integer>
		<key>seven</key>
		<integer>11</integer>
		<key>slash</key>
		<integer>-19</integer>
	</dict>
	<key>z</key>
	<dict>
		<key>J</key>
		<integer>-5</integer>
		<key>c</key>
		<integer>-3</integer>
		<key>g</key>
		<integer>-2</integer>
		<key>hyphen</key>
		<integer>-20</integer>
	</dict>
</dict>
</plist>
