<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>p</key>
		<integer>-76</integer>
	</dict>
	<key>@MMK_L_N</key>
	<dict>
		<key>comma</key>
		<integer>40</integer>
		<key>period</key>
		<integer>60</integer>
	</dict>
	<key>@MMK_L_U</key>
	<dict>
		<key>comma</key>
		<integer>-80</integer>
		<key>period</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_Y</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-149</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-111</integer>
		<key>@MMK_R_e</key>
		<integer>-117</integer>
		<key>@MMK_R_i</key>
		<integer>-63</integer>
		<key>@MMK_R_o</key>
		<integer>-67</integer>
		<key>comma</key>
		<integer>-230</integer>
		<key>period</key>
		<integer>-100</integer>
		<key>r</key>
		<integer>-63</integer>
	</dict>
	<key>G</key>
	<dict>
		<key>comma</key>
		<integer>-70</integer>
		<key>period</key>
		<integer>-90</integer>
	</dict>
	<key>J</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-42</integer>
		<key>@MMK_R_e</key>
		<integer>-42</integer>
		<key>@MMK_R_o</key>
		<integer>-37</integer>
		<key>@MMK_R_u</key>
		<integer>-22</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>@MMK_R_e</key>
		<integer>-55</integer>
		<key>@MMK_R_o</key>
		<integer>-24</integer>
		<key>@MMK_R_y</key>
		<integer>-22</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>@MMK_R_y</key>
		<integer>-98</integer>
		<key>quotedblright</key>
		<integer>190</integer>
		<key>quoteright</key>
		<integer>170</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-80</integer>
		<key>@MMK_R_e</key>
		<integer>-87</integer>
		<key>@MMK_R_o</key>
		<integer>-77</integer>
		<key>comma</key>
		<integer>-380</integer>
		<key>period</key>
		<integer>-350</integer>
	</dict>
	<key>Q</key>
	<dict>
		<key>comma</key>
		<integer>-140</integer>
		<key>period</key>
		<integer>-100</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-280</integer>
		<key>@MMK_R_e</key>
		<integer>-280</integer>
		<key>@MMK_R_i</key>
		<integer>-260</integer>
		<key>@MMK_R_o</key>
		<integer>-334</integer>
		<key>@MMK_R_u</key>
		<integer>-305</integer>
		<key>@MMK_R_y</key>
		<integer>-299</integer>
		<key>h</key>
		<integer>-60</integer>
		<key>period</key>
		<integer>-460</integer>
		<key>r</key>
		<integer>-360</integer>
		<key>semicolon</key>
		<integer>-210</integer>
		<key>w</key>
		<integer>-307</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-7</integer>
		<key>@MMK_R_i</key>
		<integer>25</integer>
		<key>@MMK_R_o</key>
		<integer>22</integer>
		<key>@MMK_R_u</key>
		<integer>40</integer>
	</dict>
</dict>
</plist>
