<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>org.robofab.glyphOrder</key>
	<array>
		<string>a</string>
		<string>E</string>
		<string>D</string>
		<string>r</string>
		<string>e</string>
		<string>v</string>
		<string>i</string>
		<string>R</string>
		<string>P</string>
		<string>l</string>
		<string>t</string>
		<string>N</string>
		<string>I</string>
		<string>M</string>
		<string>F</string>
		<string>U</string>
		<string>B</string>
		<string>h</string>
		<string>c</string>
		<string>n</string>
		<string>d</string>
		<string>H</string>
		<string>G</string>
		<string>s</string>
		<string>S</string>
		<string>o</string>
		<string>u</string>
		<string>z</string>
		<string>w</string>
		<string>p</string>
		<string>space</string>
		<string>T</string>
		<string>L</string>
		<string>C</string>
		<string>O</string>
		<string>m</string>
		<string>b</string>
		<string>q</string>
		<string>Q</string>
		<string>acute</string>
		<string>Eacute</string>
		<string>grave</string>
		<string>A</string>
		<string>V</string>
		<string>W</string>
		<string>Y</string>
		<string>f</string>
		<string>x</string>
		<string>K</string>
		<string>g</string>
		<string>y</string>
		<string>Z</string>
		<string>k</string>
		<string>j</string>
		<string>circumflex</string>
		<string>ecircumflex</string>
		<string>X</string>
		<string>J</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>slash</string>
		<string>one</string>
		<string>eight</string>
		<string>period</string>
		<string>comma</string>
		<string>plus</string>
		<string>parenright</string>
		<string>two</string>
		<string>parenleft</string>
		<string>backslash</string>
		<string>underscore</string>
		<string>semicolon</string>
		<string>colon</string>
		<string>equal</string>
		<string>zero</string>
		<string>percent</string>
		<string>quoteright</string>
		<string>quoteleft</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>OE</string>
		<string>oe</string>
		<string>mu</string>
	</array>
</dict>
</plist>
