<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_A</key>
	<array>
		<string>A'</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Aring</string>
		<string>Atilde</string>
	</array>
	<key>_A1</key>
	<array>
		<string>A'</string>
		<string>AE</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Aring</string>
		<string>Atilde</string>
	</array>
	<key>_L</key>
	<array>
		<string>L'</string>
		<string>Lslash</string>
	</array>
	<key>_Y</key>
	<array>
		<string>Y'</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>_a</key>
	<array>
		<string>a'</string>
		<string>ae</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>aring</string>
		<string>atilde</string>
	</array>
	<key>_e</key>
	<array>
		<string>e'</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
	</array>
	<key>_i</key>
	<array>
		<string>i'</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
	</array>
	<key>_o</key>
	<array>
		<string>o'</string>
		<string>oslash</string>
		<string>oe</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>otilde</string>
	</array>
	<key>_s</key>
	<array>
		<string>s'</string>
		<string>scaron</string>
	</array>
	<key>_u</key>
	<array>
		<string>u'</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
	</array>
	<key>_y</key>
	<array>
		<string>y'</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
	<key>ordn1</key>
	<array>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
	</array>
</dict>
</plist>
