<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>T</key>
		<integer>-72</integer>
		<key>V</key>
		<integer>-72</integer>
		<key>W</key>
		<integer>-72</integer>
		<key>Y</key>
		<integer>-107</integer>
		<key>quoteright</key>
		<integer>-107</integer>
		<key>v</key>
		<integer>-35</integer>
		<key>w</key>
		<integer>-35</integer>
		<key>y</key>
		<integer>-35</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>A</key>
		<integer>-72</integer>
		<key>comma</key>
		<integer>-216</integer>
		<key>period</key>
		<integer>-216</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>T</key>
		<integer>-107</integer>
		<key>V</key>
		<integer>-107</integer>
		<key>W</key>
		<integer>-72</integer>
		<key>Y</key>
		<integer>-144</integer>
		<key>quoteright</key>
		<integer>-144</integer>
		<key>y</key>
		<integer>-72</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>A</key>
		<integer>-72</integer>
		<key>comma</key>
		<integer>-216</integer>
		<key>period</key>
		<integer>-216</integer>
	</dict>
	<key>R</key>
	<dict>
		<key>T</key>
		<integer>-35</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>A</key>
		<integer>-72</integer>
		<key>a</key>
		<integer>-107</integer>
		<key>acircumflex</key>
		<integer>-54</integer>
		<key>adieresis</key>
		<integer>-28</integer>
		<key>agrave</key>
		<integer>-54</integer>
		<key>aring</key>
		<integer>-54</integer>
		<key>atilde</key>
		<integer>-54</integer>
		<key>c</key>
		<integer>-107</integer>
		<key>colon</key>
		<integer>-107</integer>
		<key>comma</key>
		<integer>-144</integer>
		<key>e</key>
		<integer>-107</integer>
		<key>ecircumflex</key>
		<integer>-80</integer>
		<key>edieresis</key>
		<integer>-54</integer>
		<key>egrave</key>
		<integer>-80</integer>
		<key>hyphen</key>
		<integer>-107</integer>
		<key>i</key>
		<integer>-107</integer>
		<key>iacute</key>
		<integer>-54</integer>
		<key>icircumflex</key>
		<integer>22</integer>
		<key>igrave</key>
		<integer>54</integer>
		<key>o</key>
		<integer>-107</integer>
		<key>odieresis</key>
		<integer>-54</integer>
		<key>ograve</key>
		<integer>-54</integer>
		<key>period</key>
		<integer>-144</integer>
		<key>r</key>
		<integer>-107</integer>
		<key>s</key>
		<integer>-107</integer>
		<key>scaron</key>
		<integer>-28</integer>
		<key>semicolon</key>
		<integer>-107</integer>
		<key>u</key>
		<integer>-107</integer>
		<key>udieresis</key>
		<integer>-54</integer>
		<key>w</key>
		<integer>-107</integer>
		<key>y</key>
		<integer>-107</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>A</key>
		<integer>-72</integer>
		<key>a</key>
		<integer>-72</integer>
		<key>acircumflex</key>
		<integer>-37</integer>
		<key>adieresis</key>
		<integer>-37</integer>
		<key>agrave</key>
		<integer>-37</integer>
		<key>aring</key>
		<integer>-37</integer>
		<key>atilde</key>
		<integer>-37</integer>
		<key>colon</key>
		<integer>-72</integer>
		<key>comma</key>
		<integer>-144</integer>
		<key>e</key>
		<integer>-72</integer>
		<key>ecircumflex</key>
		<integer>-37</integer>
		<key>edieresis</key>
		<integer>-37</integer>
		<key>egrave</key>
		<integer>-37</integer>
		<key>hyphen</key>
		<integer>-72</integer>
		<key>i</key>
		<integer>-35</integer>
		<key>icircumflex</key>
		<integer>8</integer>
		<key>o</key>
		<integer>-72</integer>
		<key>ocircumflex</key>
		<integer>-54</integer>
		<key>odieresis</key>
		<integer>-37</integer>
		<key>period</key>
		<integer>-144</integer>
		<key>r</key>
		<integer>-35</integer>
		<key>semicolon</key>
		<integer>-72</integer>
		<key>u</key>
		<integer>-35</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>A</key>
		<integer>-72</integer>
		<key>a</key>
		<integer>-35</integer>
		<key>adieresis</key>
		<integer>-28</integer>
		<key>colon</key>
		<integer>-35</integer>
		<key>comma</key>
		<integer>-72</integer>
		<key>e</key>
		<integer>-35</integer>
		<key>ecircumflex</key>
		<integer>-28</integer>
		<key>hyphen</key>
		<integer>-35</integer>
		<key>o</key>
		<integer>-35</integer>
		<key>odieresis</key>
		<integer>-28</integer>
		<key>period</key>
		<integer>-72</integer>
		<key>semicolon</key>
		<integer>-35</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>A</key>
		<integer>-107</integer>
		<key>a</key>
		<integer>-107</integer>
		<key>colon</key>
		<integer>-107</integer>
		<key>comma</key>
		<integer>-144</integer>
		<key>e</key>
		<integer>-107</integer>
		<key>hyphen</key>
		<integer>-107</integer>
		<key>i</key>
		<integer>-35</integer>
		<key>o</key>
		<integer>-107</integer>
		<key>odieresis</key>
		<integer>-80</integer>
		<key>p</key>
		<integer>-72</integer>
		<key>period</key>
		<integer>-144</integer>
		<key>q</key>
		<integer>-107</integer>
		<key>semicolon</key>
		<integer>-107</integer>
		<key>u</key>
		<integer>-72</integer>
		<key>udieresis</key>
		<integer>-54</integer>
		<key>v</key>
		<integer>-35</integer>
	</dict>
	<key>quoteleft</key>
	<dict>
		<key>quoteleft</key>
		<integer>37</integer>
	</dict>
	<key>quoteright</key>
	<dict>
		<key>quoteright</key>
		<integer>37</integer>
		<key>s</key>
		<integer>-227</integer>
		<key>t</key>
		<integer>-152</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>comma</key>
		<integer>-113</integer>
		<key>hyphen</key>
		<integer>-76</integer>
		<key>period</key>
		<integer>-113</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>comma</key>
		<integer>-76</integer>
		<key>period</key>
		<integer>-76</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>comma</key>
		<integer>-76</integer>
		<key>period</key>
		<integer>-76</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>comma</key>
		<integer>-76</integer>
		<key>period</key>
		<integer>-76</integer>
	</dict>
</dict>
</plist>
